.chess-board-table {
    width: auto;
    font-family: Courier, monospace;
    border-collapse: separate;
}

.chess-board-cell {
    height: 85px;
    width: 85px;
    margin: 0;
    padding: 0;
}

table.table-bordered > tbody > tr > td {
    border: 2px solid black;
}