<!doctype html>
<html lang="en">
<head>
    <title>Jacobs Chess</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chess.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Jacobs Backend Chess</h5>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

<div class="container">
    <div class="form-group w-50">
        <form action="/xchess">
            <label for="user">Name:</label>
            <input type="text" class="form-control" id="user" name="user">
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
    <div>
        <p>Game Id: {{board_id}}</p>
    </div>
    {% if player_one %}
    <div>
        <h2>Player One: {{ player_one }}</h2>
    </div>
    {% endif %}
    <table class="table table-bordered border-dark chess-board-table">
        {% for row in board.board %}
        {% set row_index = loop.index %}
        {% set row_is_odd = loop.index % 2 %}
        <tr>
            {% for cell in row %}
            {% set column_index = loop.index %}
            {% set column_is_odd = column_index % 2 %}
            {% set column_color = '#613613' if (row_is_odd and column_is_odd) or (not row_is_odd and not column_is_odd)
            else
            '#f6ddc7' %}
            <td class="chess-board-cell" style="background-color: {{ column_color }}"
                id="board-cell-{{ row_index }}-{{ column_index }}"
                onclick="onCellClick({{ row_index }}, {{ column_index }}, '{{ cell.piece }}')">
                {% if cell.piece %}
                <img src="{{ url_for('static', filename='images/standard/' + cell.piece|string + '.png') }}">
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script>
    var selectedCell = []
    var hintCells = []

    $(document).ready(function () {
        // $("#preview-button").click(previewClick);
        // $("#cancel-button").click(cancelClick);
    });

    function onCellClick(row, column, cell) {
        // clear lingering formats
        var allCells = ".chess-board-cell"
        $(allCells).css({"border-color": "black", "border-width": "2px", "border-style": "solid"});


        var isMove = false

        for (var hint of hintCells) {
            if (hint[0] === row && hint [1] === column) {
                isMove = true
            }
        }

        if (!isMove) {
            if (cell === 'None') {
                hintCells = [];
                return;
            }

            $.post("/chess/hints", {board_id: '{{ board_id }}', row: row, column: column}, function (response) {
                hintCells = response;

                var cellId = "#board-cell-" + row + "-" + column
                $(cellId).css({"border-color": "yellow", "border-width": "2px", "border-style": "solid"});
                selectedCell = [row, column, cell]


                for (var hint of hintCells) {
                    var hintCellId = "#board-cell-" + hint[0] + "-" + hint[1]
                    var hintCell = $(hintCellId)

                    hintCell.css({"border-color": "cornflowerblue", "border-width": "2px", "border-style": "solid"});
                }
            });
            return;
        }
        console.log(selectedCell)
        console.log([row, column])
        $.post("/chess/move", {
            board_id: '{{ board_id }}',
            selected: selectedCell,
            targeted: [row, column]
        }, function (response) {
            var selected = response.selected
            var selectedId = "board-cell-" + selected[0] + "-" + selected[1];
            var targeted = response.targeted
            var targetedId = "board-cell-" + targeted[0] + "-" + targeted[1];

            $(existingCell).html('#' + selectedId)
            document.getElementById(selectedId).onclick = function () {
            }

            var targetCell = "#" + targetedId
            $(targetCell).html('<img src="./static/images/standard/' + selected[2] + '.png" />')

            document.getElementById(targetedId).onclick = function () {
            }

            var piece = selected[2]
            $(targetCell).onclick = function () {
                onCellClick(targeted[0], targeted[1], piece)
            }

            hintCells = []
            selectedCell = []
        })
    }

</script>
</body>
</html>
