<!doctype html>
<html lang="en">
<head>
    <title>Jacobs Chess</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chess.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Chess Games</h5>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

<div class="card p-2 shadow container">
    <div class="card-body">
        <div class="container panel panel-default">
            <div class="row mb-3">
                <form action="/chess/game">
                    <input type="hidden" name="uid" id="uid" value="{{ uid }}"/>
                    <input class="btn btn-success" type="submit" value="New Game"/>
                </form>
            </div>
            {% if games %}
            <table class="table table-sm table-striped table-hover">
                <thead>
                <tr>
                    <th style="width:200px" scope="col">Name</th>
                    <th style="width:175px" scope="col">Created Date</th>
                    <th scope="col">Id</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for game in games %}
                <tr>
                    <td>
                        {{ game['name'] }}
                    </td>
                    <td style="vertical-align:middle;min-width:175px;">
                        {{ game['start_date'] }}
                    </td>
                    <td style="vertical-align:middle;">
                        {{ game['_id']|string }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
    });
</script>
</body>
</html>
