<!doctype html>
<html lang="en">
<head>
    <title>Jacobs Chess</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chess.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Chess Games</h5>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>


<div class="col-10 card p-2 shadow container">
    <div class="py-0 card-body">
        <div class="row text-center">
            <h1>Game</h1>
        </div>
        <div>
            <form action="/chess/game" method="POST" id="game-form">
                <input type="hidden" name="uid" id="uid" value="{{ uid }}"/>
                <input type="hidden" name="_id" id="_id" value="{{ game._id if game else '' }}"/>
                <div class="mb-0 pb-1 form-group">
                    <div class="row mt-0 mb-2 mx-0 p-0 w-50">
                        <select class="form-control" id="playerOneId" name="playerOneId" required>
                            <option value="" disabled selected>
                                Select Player One
                            </option>
                            <option value=":Anonymous">
                                Anonymous
                            </option>
                            {% for player in players %}
                            <option value="{{ player_one._id }}:{{ player.name }}">{{ player.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row mt-0 mb-2 mx-0 p-0 w-50">
                        <select class="form-control" id="playerTwoId" name="playerTwoId" required>
                            <option value="" disabled selected>
                                Select Player Two
                            </option>
                            <option value=":Anonymous">
                                Anonymous
                            </option>
                            {% for player in players %}
                            <option value="{{ player_two._id }}:{{ player.name }}">{{ player.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row mt-0 mb-2 mx-0 p-0 w-50">
                        <input class="form-control" title="Game Name" placeholder="Game Name" type="text" id="name"
                               name="name" value="{{ game.name if game else '' }}" required/>
                    </div>
                </div>

                <div class="row mp-0">
                    <input class="mt-2 mr-2 btn btn-primary" type="submit" value="Save Game"/>
                    <input class="mt-2 mr-2 btn btn-secondary" id="cancel-button" type="button" value="Cancel"/>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        var playerOne = $('#playerOneId')
        var playerTwo = $('#playerTwoId')
        var name = $('#name')

        playerOne.change(function () {
            setGameName(playerOne, playerTwo, name)
        })
        playerTwo.change(function () {
            setGameName(playerOne, playerTwo, name)
        })
    });

    function setGameName(playerOne, playerTwo, name) {
        var splitPlayerOneName = playerOne.val() && playerOne.val().split(":")
        var playerOneName = splitPlayerOneName && splitPlayerOneName.length > 1 ? splitPlayerOneName[1] : ''

        var splitPlayerTwoName = playerTwo.val() && playerTwo.val().split(":")
        var playerTwoName = splitPlayerTwoName && splitPlayerTwoName.length > 1 ? splitPlayerTwoName[1] : ''

        name.val(playerOneName + ' vs ' + playerTwoName)
    }
</script>
</body>
</html>
