</div>

<div class="card p-2 shadow container">
    <div class="card-body">
        <div class="container panel panel-default">
            <div class="row mb-3">
                <form action="/chess/login" method="POST" id="login-form">
                    <input type="hidden" name="uid" id="uid" value="{{ uid }}"/>
                    <div>
                        <input class="btn btn-success" type="submit" value="Login"/>
                        <input class="btn btn-success" type="submit" value="Ceate New User"/>
                        <input class="btn btn-success" type="submit" value="Friends List"/>
                    </div>
                    <div>
                        <input type="hidden" name="_id" id="_id" value="{{ game._id if game else '' }}"/>
                        <div class="mb-0 pb-1 form-group">
                            <div class="row mt-0 mb-2 mx-0 p-0 w-50">
                                <select class="form-control" id="playerOneId" name="playerOneId" required>
                                    <option value="" disabled selected>
                                        Select Player One
                                    </option>
                                    <option value=":Anonymous">
                                        Anonymous
                                    </option>
                                    {% for player in players %}
                                    <option value="{{ player_one._id }}:{{ player.name }}">{{ player.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row mt-0 mb-2 mx-0 p-0 w-50">
                                <select class="form-control" id="playerTwoId" name="playerTwoId" required>
                                    <option value="" disabled selected>
                                        Select Player Two
                                    </option>
                                    <option value=":Anonymous">
                                        Anonymous
                                    </option>
                                    {% for player in players %}
                                    <option value="{{ player_two._id }}:{{ player.name }}">{{ player.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="row mt-0 mb-2 mx-0 p-0 w-50">
                                <input class="form-control" title="Game Name" placeholder="Game Name" type="text"
                                       id="name"
                                       name="name" value="{{ game.name if game else '' }}" required/>
                            </div>
                        </div>

                        <div class="row mp-0">
                            <input class="mt-2 mr-2 btn btn-primary" type="submit" value="Save Game"/>
                            <input class="mt-2 mr-2 btn btn-secondary" id="cancel-button" type="button"
                                   value="Cancel"/>
                        </div>
                    </div>
                </form>
            </div>
